{% extends 'base.html.twig' %}

{% block body %}
    <div style="border: 2px double #000000; padding-left: 25px; background-color: steelblue; font-family: 'Courier New', Courier, monospace">
        <h1 style="text-align: center; padding-right: 25px">Order list</h1>
        <table>
            <thead>
                <tr>
                    <th>Ref</th>
                </tr>
            </thead>
            <tbody>
            {% for order in orders %}
                <tr>
                    <td><a href="{{ path('order_show', { 'id': order.id }) }}">{{ order.ref }}</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        </br>
    </div>
    <ul>
        <li>
            <a href="{{ path('order_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
