<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
    </head>
    <body>
        {% include "::navbarTop.html.twig" %}
        {% block body %}

        {% endblock %}
    </body>

    <footer>
        {% block javascripts %}
            <link href=" {{ asset('js/bootstrap.min.js') }}" rel="stylesheet" />
        {% endblock %}
    </footer>
</html>